[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LLMTranslate"]
	path = LLMTranslate
	url = https://github.com/cran/LLMTranslate
